<h3 style="text-align: center">Welcome to the Classic Garage!</h3>
<h4 style="text-align: center">Find me at: <b>app/views/visitors/index.html.erb</b></h4>






<hr />
<!--Insert each menu item here-->
<div id="wrapper">
  <div id="columns">
    <% 6.times do |x| %>
        <h1><%= catcount_to_cat(x) %></h1>
        <% @menu_items.where(category: x.to_s).each do |f| %>
            <div class="menu-item-box" style="border-style: solid; border-width: 2px; padding:10px;">
              <p>Name: <%= f.name %></p><br />
              <p>Category: <%= f.category %></p><br />
              <p>Description: <%= f.description %></p><br />
              <p>Image: <img src="<%= f.image.url %>" style="max-width:250px;" /></p>
            </div>
        <% end %>
        <hr />
    <% end %>

  </div>
</div>



<h4 style="clear: both; margin-top:60px;">Go to /menu to add/remove menu items.</h4><!--This is a temporary arrangement, soon it will be in the admin panel. -->



<!--Please, don't delete this. <3-->
<!--<%#= link_to 'Users:', users_path %> <%#= User.count %>-->


