
<!--Insert each menu item here-->
<div id="wrapper">
  <div class="menucats">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#cat-1">Entrees</a></li>
      <li><a href="#cat-2">Sides</a></li>
      <li><a href="#cat-3">Desserts</a></li>
      <li><a href="#cat-4">Appetizers</a></li>
      <li><a href="#cat-5">Other</a></li>
    </ul><br/><br/><br/>
  </div>
  <% 5.times do |x| %>
      <% x = x + 1 %>
      <h3 class="categoryname"><%= catcount_to_cat(x) %></h3>
      <div id="cat-<%= x %>" class="columns">
        <% @menu_items.where(category: x.to_s).each do |f| %>
            <div class="menu-item-box shadowed hvr-shrink" data-toggle="modal" data-target="#<%= "menuitem-" + f.id.to_s %>">
              <div class="itemtext">
                <p><%= f.name %></p>
              </div>
              <img src="<%= f.image.url %>" />
              <div class="itemtext">
                <p class="itemdesc"><%= truncate(f.description, :length => 80, :separator => ' ') %></p>
              </div>
            </div>
        <% end %>
      </div>
      <hr />
  <% end %>
</div>

<% @menu_items.each do |g| %>
    <!-- Modals -->
    <div class="modal fade" id="<%= "menuitem-" + g.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= g.name %></h4>
          </div>
          <div class="modal-body">
            <img src="<%= g.image.url %>" />
            <p><%= number_to_currency(g.price/100) %></p>
            <p><%= g.description %></p>
          </div>
        </div>
      </div>
    </div>
<% end %>


<!--Please, don't delete this. <3-->
<!--<%#= link_to 'Users:', users_path %> <%#= User.count %>-->