<%= bootstrap_form_for(@menuitem) do |f| %>
  <% if @menuitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menuitem.errors.count, "error") %> prohibited this menuitem from being saved:</h2>

      <ul>
      <% @menuitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.select :category, [["Extras", 1], ["Entrees", 2], ["Specials", 3], ["Desserts", 4], ["Drinks", 5]], {label: "Category"}, {class: "selectpicker"} %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%#= f.label :approved %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
