<div class="adminpage">
  <h1>All Menu Items</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Order</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @menuitems.order(category: :desc).each do |menuitem| %>
          <tr data-href="<%= menuitem.id %>">
            <td><%= catcount_to_cat(menuitem.category.to_i) || "N/A" %></td>
            <td><%= menuitem.name || "N/A" %></td>
            <td><%= menuitem.price || "N/A" %></td>
            <td><%= menuitem.description || "N/A" %></td>
            <td><%= menuitem.order || "N/A" %></td>
            <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
            <td><%= link_to 'Delete', menuitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Menuitem', new_menuitem_path %>
    <br /><br />
</div>


<script>
    $('tr[data-href]').on("click", function() {
        document.location = "/menuitems/" + $(this).data('href') + "/edit";
    });
</script>

<!--   View list of menu items: /menuitems  menuitems#index     (Has links to edit pages) -->
<!--   Create new menu item: /menuitems/new  menuitems#new     (Renders partial _form) -->
<!--   Edit a given menu item: /menuitems/#/edit  menuitems#edit     (Renders partial _form) -->
<!--   Edit/Create form: menuitems#_form     -->
<!-- Page redirects after edit/save require editing, I will handle it. Don't worry -->