<h1>Listing menuitems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menuitems.each do |menuitem| %>
      <tr>
        <td><%= menuitem.name %></td>
        <td><%= menuitem.category %></td>
        <td><%= menuitem.description %></td>
        <td><%= menuitem.price %></td>
        <td><%= menuitem.order %></td>
        <td><%= link_to 'Show', menuitem %></td>
        <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
        <td><%= link_to 'Destroy', menuitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menuitem', new_menuitem_path %>
