<div class="photowrapper">
    <div class="carsmenu">
      <div class="addphoto2 hvr-shrink" data-toggle="modal" data-target="#addimageform">
        <div class="addphoto">+</div>
      </div>
    </div>

    <div id="galleria">
      <div>
        <% @photos.each do |f| %>
            <a href="<%= f.image.url %>"></a>
            <img src="<%= f.image.url %>" alt="<%= f.name %>" />
        <% end %>
      </div>
    </div>

    <div id="carsdiv">

      <%= render "photos/cars" %>

    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addimageform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an Image</h4>
      </div>
      <div class="modal-body">
        <!-- UPLOAD IMAGE FORM - We may want this inside of a modal.. -->
        <div>
          <%= bootstrap_form_for(@photo, :html => { :multipart => true }) do |f| %>

              <div class="field">
                <%= f.text_field :name, label: "Photo Name" %>
              </div>

              <div class="field">
                <%= f.text_field :user, label: "Your Name" %>
              </div>

              <div class="field">
                <%#= f.label :approved %><br>
                <%= f.file_field :image %>
              </div>

              <div class="actions submitphoto">
                <%= f.submit "Upload Photo" %>
              </div>

          <% end %>
        </div><!-- /IMAGE UPLOAD FORM -->
      </div>
    </div>
  </div>
</div>










<script>
    //Page specific, do not put into a .JS file
    Galleria.loadTheme('galleria.classic.js');
    Galleria.run('#galleria');

    //$("#galleria").css('width', '100%');

    //This page should have a black background. =)
    $(document).ready(function () {
        $(".bg").css("background-color","black");
    });

</script>
