<!DOCTYPE html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<!-- load Galleria -->
<html>
  <head>
    <!--<link type="text/css" rel="stylesheet" href="galleria/themes/classic/galleria.classic.css">-->
    <script type="text/javascript" src="js/galleria-1.2.5.min.js"></script>
    <script type="text/javascript" src="galleria/themes/classic/galleria.classic.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Limelight|Roboto' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Classic Garage" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Classic Garage" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


  <!-- THIS IS THE DIV FOR YOUR TOP MENU BANNER -->
  <div id="top-nav">
    <!-- Your naming conventions are terrible =/ -->
    <!-- Put your code here for now, but I'll be moving it into a partial later -->
    <% if @home_banner %>
        <%= render "layouts/bannerTop" %>
        <!--End of the line.-->
    <% else %>
        <!--Perhaps we should put an admin navbar here (reuse SVG?)-->
    <% end %>
  </div>




  <main role="main" id="primary-content">
    <div class="pagecontent">
        <div class="mynav">
          <div id="mynavbar" class="mynavbar"> <!-- "mynavbar? Wirklich?" -->
            <% if @home_banner %>
                <%= render "layouts/banner" %>
                <!--End of the line.-->
            <% else %>
                <!--Perhaps we should put an admin navbar here (reuse SVG?)-->
            <% end %>

            </div>
        </div>

        <!--<div class="col-xs-9 maincontent" style="overflow: auto; height: 100vh;">-->

      <div class="maincontent">
          <%= yield %>
      </div>

    </div><!--End row-->
  </main>
  </body>
</html>

<script>

</script>




<%#= render 'layouts/messages' %>
<!--<header>-->
<!--<%#= render 'layouts/navigation' %>-->
<!--</header>-->