<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Classic Garage" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Classic Garage" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


  </head>
  <body>
  <main role="main" id="primary-content">
    <div class="pagecontent row">
        <div class="mynav col-xs-3">
          <div class="mynavbar">
            <% if @home_banner %>
                <h2>The truth never bothered me anyways!</h2>
            <% else %>
                <h2>You can't handle the truth!</h2>
            <% end %>

            </div>
        </div>

        <div class="col-xs-9 maincontent">
          <%= yield %>
        </div>

    </div><!--End row-->
  </main>
  </body>
</html>






<%#= render 'layouts/messages' %>
<!--<header>-->
<!--<%#= render 'layouts/navigation' %>-->
<!--</header>-->