<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Limelight|Roboto' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Classic Garage" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Classic Garage" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


  <!-- THIS IS THE DIV FOR YOUR TOP MENU BANNER -->
  <div id="top-nav" style="width: 100%; background-color: #666666; z-index: 9999999; margin-top: -20px; display: none;">
    <!-- Your naming conventions are terrible =/ -->
    <!-- Put your code here for now, but I'll be moving it into a partial later -->
    <h1 style="text-align: center;">Your turn</h1>
  </div>




  <main role="main" id="primary-content">
    <div class="pagecontent">
        <div class="mynav">
          <div id="mynavbar" class="mynavbar"> <!-- "mynavbar? Wirklich?" -->
            <% if @home_banner %>
                <%= render "layouts/banner" %>
                <!--End of the line.-->
            <% else %>
                <!--<h2>You can't handle the truth!</h2>-->
            <% end %>

            </div>
        </div>

        <!--<div class="col-xs-9 maincontent" style="overflow: auto; height: 100vh;">-->

      <div class="maincontent">
          <%= yield %>
      </div>

    </div><!--End row-->
  </main>
  </body>
</html>






<%#= render 'layouts/messages' %>
<!--<header>-->
<!--<%#= render 'layouts/navigation' %>-->
<!--</header>-->