<!DOCTYPE html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<!-- load Galleria -->
<html>
  <head>
    <!--<link type="text/css" rel="stylesheet" href="galleria/themes/classic/galleria.classic.css">-->
    <script type="text/javascript" src="js/galleria-1.2.5.min.js"></script>
    <script type="text/javascript" src="galleria/themes/classic/galleria.classic.min.js"></script>
    <script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Limelight|Roboto' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Classic Garage" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Classic Garage" %>">
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

<body class="bg">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div id="top-nav" data-turbolinks-permanent>
    <% if @home_banner %>
        <%= render "layouts/bannerTop" %>
    <% else %>
        <!-- Admin nav banner -->
    <% end %>
  </div>

  <main role="main" id="primary-content">
    <div id="left-nav" data-turbolinks-permanent>
      <% if @home_banner %>
          <%= render "layouts/banner" %>
      <% end %>
    </div>
    <div class="maincontent">
      <%= yield %>

    </div>
  </main>

    <div class="fblikebox">
      <div class="fb-like" data-href="https://www.facebook.com/pages/The-Classic-Garage/850748648283405?pnref=story" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>

</body>

</html>

<script>

</script>




<%#= render 'layouts/messages' %>
<!--<header>-->
<!--<%#= render 'layouts/navigation' %>-->
<!--</header>-->